version: '3'
services:
  react:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - 80:80
    restart: always
    volumes:
      - .:/usr/app/react
    env_file:
      - ./.env
    environment:
      - NODE_ENV=production
