version: '3'
services:
  react:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - 3000:3000
    restart: always
    volumes:
      - .:/usr/app/react
    env_file:
      - ./.env
    environment:
      - NODE_ENV=development
